
#
# .idea/
# .vscode/
# Binaries for programs and plugins
# Code coverage profiles and other test artifacts
# Dependency directories (remove the comment below to include it)
# Editor/IDE
# Go workspace file
# If you prefer the allow list template instead of the deny list, see community template:
# Test binary, built with `go test -c`
# env file
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
# vendor/
*.coverprofile
*.dll
*.dylib
*.exe
*.exe~
*.logbin/
*.out
*.so
*.test
.env
.tmp/
alpha
bin/
coverage.*
dreamteam
gaps.md
go.work
go.work.sum
goboxd
greyapple
hugo
profile.cov
pyjail-reference
silverex
sudo
