# goboxd seccomp policy
# Blocks syscalls that could be used for sandbox escape or kernel tampering.
# All other syscalls are allowed (DEFAULT ALLOW) so normal code execution works.
#
# Reference: https://github.com/google/nsjail/tree/master/kafel

POLICY goboxd {
	DENY {
		# Filesystem escape
		mount,
		umount,
		umount2,
		pivot_root,
		chroot,
		# Process debugging / injection
		ptrace,
		# Kernel module tampering
		create_module,
		init_module,
		finit_module,
		delete_module,
		# Kernel execution tampering
		kexec_load,
		kexec_file_load,
		reboot,
		acct,
		# System identity tampering
		sethostname,
		setdomainname,
		# I/O port manipulation
		ioperm,
		iopl,
		# Swapping
		swapon,
		swapoff,
		# BPF programming
		bpf
	}
}

USE goboxd DEFAULT ALLOW
